<script src="https://use.fontawesome.com/b99719fb36.js"></script>

<div class="paginator-container">  
  <div class="paginator rounded">
    <div class="button">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <div class="page first">01</div>
    <div class="page">02</div>
    <div class="page active">03</div>
    <div class="page">04</div>
    <div class="page last">05</div>
    <div class="button">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
