.paginator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator-container .paginator {
  display: flex;
  flex-direction: row;
}
.paginator-container .paginator.rounded .page {
  border-radius: 50%;
}
.paginator-container .paginator .cant-click {
  cursor: initial;
}
.paginator-container .page {
  font-weight: bolder;
  padding: 4px;
  margin: 0px 3px;
  background-color: #d5d6d6;
  font-size: 0.7em;
  align-self: center;
  cursor: pointer;
}
.paginator-container .page.first, .paginator-container .page.last {
  font-size: 0.5em;
  padding: 3px;
  align-self: center;
  background-color: rgba(187, 188, 189, 0.3);
  color: #454646;
}
.paginator-container .page.pre-active {
  padding: 7px;
}
.paginator-container .page.active {
  -webkit-box-shadow: 0px 2px 7px 1px rgba(50, 50, 50, 0.7);
  -moz-box-shadow: 0px 2px 7px 1px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 2px 7px 1px rgba(50, 50, 50, 0.7);
  padding: 10px;
  background-color: #9daef7;
  color: #fff;
  font-weight: bolder;
  font-size: 1em;
}
.paginator-container .button {
  cursor: pointer;
  margin: 5px;
  align-self: center;
}
.paginator-container .button.right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13.0px;
  border-color: transparent transparent transparent #333;
}
.paginator-container .button.right:not(.cant-click):active {
  border-color: transparent transparent transparent #9daef7;
}
.paginator-container .button.left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 13.0px 7.5px 0;
  border-color: transparent #333 transparent transparent;
}
.paginator-container .button.left:not(.cant-click):active {
  border-color: transparent #9daef7 transparent transparent;
}

/*
$active: #CCD5FB;
$not-active: #BBBCBD;
$font: #454646;

@mixin box-shadow {
  -webkit-box-shadow: 0px 2px 7px 1px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    0px 2px 7px 1px rgba(50, 50, 50, 0.7);
  box-shadow:         0px 2px 7px 1px rgba(50, 50, 50, 0.7);
}

.paginator-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  .paginator {
    display: flex;
    flex-direction: row;
    &.rounded {
      .page {
        border-radius: 50%;
      }
    }
    .cant-click {
      cursor: initial;
    }
  }  
  .page {     
    font-weight: bolder; 
    padding: 4px;    
    margin: 0px 3px;    
    background-color: lighten($not-active, 10%);
    font-size: 0.7em;
    align-self: center;
    cursor: pointer;
    &.first, &.last {
      font-size: 0.5em;
      padding: 3px;
      align-self: center;
      background-color: rgba($not-active, 0.3);
      color: $font;
    }
    &.pre-active {
      padding: 7px;
    }
    &.active {   
      @include box-shadow;
      padding: 10px;
      background-color: darken($active, 10%);
      color: #fff;
      font-weight: bolder;
      font-size: 1em;
    }
  }
  .button {    
    cursor: pointer;
    margin: 5px;
    align-self: center;    
    &.right {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 0 7.5px 13.0px;
      border-color: transparent transparent transparent #333;       
      &:not(.cant-click):active {
        border-color: transparent transparent transparent darken($active, 10%); 
      }
    }
    &.left {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 13.0px 7.5px 0;
      border-color: transparent #333 transparent transparent;
      &:not(.cant-click):active {
        border-color: transparent darken($active, 10%) transparent transparent; 
      }
    }
  }
}*/
