body {
  background-color: #efefef;
}

.paginator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator-container .paginator {
  display: flex;
  flex-direction: row;
}
.paginator-container .page {
  padding: 5px;
  border-radius: 50%;
  margin: 0px 4px;
  border: 1px solid #BBBCBD;
  background-color: #BBBCBD;
  font-size: 0.7em;
  align-self: center;
}
.paginator-container .page.first, .paginator-container .page.last {
  font-size: 0.5em;
  padding: 3px;
  border-radius: 50%;
  align-self: center;
}
.paginator-container .page.active {
  -webkit-box-shadow: 0.5px 3px 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.75);
  border: 1px solid #CCD5FB;
  background-color: #CCD5FB;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
}
.paginator-container .button {
  margin: 5px;
  align-self: center;
}
.paginator-container .button.right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13.0px;
  border-color: transparent transparent transparent #333;
}
.paginator-container .button.right:active {
  border-color: transparent transparent transparent #CCD5FB;
}
.paginator-container .button.left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 13.0px 7.5px 0;
  border-color: transparent #333 transparent transparent;
}
.paginator-container .button.left:active {
  border-color: transparent #CCD5FB transparent transparent;
}

/*
$active: #CCD5FB;
$not-active: #BBBCBD;
@mixin box-shadow {
   -webkit-box-shadow: .5px 3px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
}
body {
  background-color: lighten($not-active, 20%);
}
.paginator-container{
  display: flex;
  justify-content: center; 
  align-items: center;
  .paginator {
    display: flex;
    flex-direction: row;
  }  
  .page {        
    padding: 5px;
    border-radius: 50%;
    margin: 0px 4px;
    border: 1px solid $not-active;
    background-color: $not-active;
    font-size: 0.7em;
    align-self: center;
    &.first, &.last {
      font-size: 0.5em;
      padding: 3px;
      border-radius: 50%;
      align-self: center;
    }
    &.active {   
      @include box-shadow;
      border: 1px solid $active;
      background-color: $active;
      color: #fff;
      font-weight: 700;
      font-size: 1em;
    }
  }
  .button {    
    margin: 5px;
    align-self: center;    
    &.right{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 0 7.5px 13.0px;
      border-color: transparent transparent transparent #333; 
      &:active {
        border-color: transparent transparent transparent $active; 
      }
    }
    &.left{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 13.0px 7.5px 0;
      border-color: transparent #333 transparent transparent;
      &:active {
        border-color: transparent $active transparent transparent; 
      }
    }
  }
}

*/